// Navigation code here

.spacewalkers{
    .columnreverse();
    align-items: center;
    border:red solid 2px;
    width: 60%;
    margin:3% auto;
    @media(max-width: 500px){
        width:100%;

    }//closes media

    .topnav{
        border:blue solid 2px;
        width:55%;
        display:flex;
        justify-content: space-evenly;
        @media(max-width: 500px){
            width:90%;
     }// closes media
        
    

    }//closes topnav
    .topnav2{
        border:red solid 2px;
        width:100%;
        @media(wax-width: 500px){
            margin:0 auto;
            h2{
                margin:0 auto;
                border:red solid 2px;
                display:flex;
                align-items: center;
            }


        }//media
        
        
    

        @media(max-width: 500px){
        .topnav{
            width:80%;
        }//closes h2
    }//closes media
    }//closes topnav2

}//closes spacewalkers